#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
  background-color: #FFFFFF;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3rem;
}